/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
}
#main {
    display: flex;
    width: 75%;
    height: 100%;
    box-shadow: 0 0 10px #ccc;
    background-color: white;
    flex-direction: column;
    margin-bottom: auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}
#navbar{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #00B200;
    height: 55px;
}
#navbar ul{
    /* height: 20px; */
    margin: auto 0 6px 15px;
    font-size: 2.3vmin;
    color: #888;
}
#navbar ul li{
    display: inline-block;
    margin: 0 5px;
}
#navbar ul li a{
    color: #888;
    text-decoration: none;
    transition: font-size 0.05s;
}
#navbar ul li a:hover{
    color: #00B200;
    font-size: 2.7vmin;
}
#navbar img{
    margin: auto 20px 10px auto;
    height: 3.5vmin;
}
#quote{
    height: 150px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
    box-shadow: 0 3px 3px rgba(0,0,0,.1) inset;
    background: radial-gradient(ellipse farthest-corner at right bottom, #ddd 0%, #eee 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #ddd 0%, #eee 62.5%, #ddd 100%);
    border-bottom: 1px solid #aaa;
}
#quote p{
    color: #777;
    line-height: 23px;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(47, 47, 47, 0.1)
}
.author{
    margin-top: 5px;
    margin-left: auto;
    margin-right: 30%;
}

#content{
    margin: 0 20px;
}
#content h1{
    margin-top: 20px;
    font-size: 22px;
    color:#555;
}
#content p{
    text-indent: 20px;
    line-height: 3vmin;
    margin: 10px 15px 0 15px;
    color: #777;
    font-weight: 300;
}
#content p a{
    color: #555
}
.no-top-margin{
    margin-top: 0 !important;
}
#project-container{
    margin: 20px 0 5vmin 0;
    display: flex;
    flex-direction: column;    
}
.project-title{
    margin: 10px 0;
    border-bottom: 1px solid #aaa;
    display: flex;
    align-items: center;
}
.project-title h2{
    color: #555;
    margin-right: auto;
    font-weight: bold;
}
#t-icon{
    display: flex;
    font-size: 12px;
    color: white;
    background-color: #00b200;
    height: 20px;
    width: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transform: skewX(-20deg);
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.description-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-descr{
    font-size: 15px;
    align-self: start;
    width: 50%;
    margin-right: 10px;
    text-align: justify;
}
.project-img{
    padding-top: 3vmin;
    margin-left: 30px;
    margin-right: 30px;
    
}
.project-img img{
    width: 150px;
    border-radius: 10px;
    transform: skewX(4deg);
    transform: skewy(4deg);
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    transition: transform 0.5s ease;
}
.project-img img:hover{
    transform: scale(1.1);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B200;
    height: 60px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2) inset;
}
footer img{
    margin: 0 10px;
    transition: transform 0.5s ease;
}
footer img:hover{
    transform: scale(1.2);
}
