/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23777777' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#main {
    display: flex;
    width: 75%;
    height: 100%;
    box-shadow: 0 0 10px #ccc;
    background-color: white;
    flex-direction: column;
    margin-bottom: auto;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}
#navbar{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #00B200;
    height: 55px;
}
#navbar ul{
    margin: auto 0 5px 15px;
    font-size: 18px;
    color: #888;
}
#navbar ul li{
    display: inline-block;
    margin: 0 5px;
}
#navbar ul li a{
    color: #888;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: #00B200;
}
#navbar img{
    margin: auto 20px 8px auto;
    height: 25px;
}
#quote{
    height: 150px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
    box-shadow: 0 3px 3px rgba(0,0,0,.1) inset;
    background: radial-gradient(ellipse farthest-corner at right bottom, #ddd 0%, #eee 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #ddd 0%, #eee 62.5%, #ddd 100%);
    border-bottom: 1px solid #aaa;
}
#quote p{
    color: #777;
    line-height: 23px;
    font-size: 20px;
    text-shadow: 0 0 5px rgba(47, 47, 47, 0.1)
}
.author{
    margin-top: 5px;
    margin-left: auto;
    margin-right: 30%;
}
#content{
    margin: 0 20px;
}
#content h1{
    margin-top: 20px;
    font-size: 22px;
    color:#555;
}
#content p{
    text-indent: 20px;
    line-height: 25px;
    margin: 10px 15px 0 15px;
    color: #777;
    font-weight: 300;
}
#content p a{
    color: #555
}
#welcome-section{
}
#welcome-section h1 {
    color:#555;
}
#welcome-section p {
    color: #777;
}
#welcome-section p a {
    color:#777;
}
.no-top-margin{
    margin-top: 0 !important;
}
#projects-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#project-container{
    margin: 20px 0 5vmin 0;
    display: flex;
    width: 32%;
    flex-direction: column;
}
.project-title{
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.project-title h2{
    color: #555;
    margin-right: auto;
    font-weight: bold;
}
#t-icon{
    display: flex;
    font-size: 12px;
    color: white;
    background-color: #00b200;
    height: 20px;
    width: 45px;
    align-items: center;
    justify-content: center;
    transform: skewX(-20deg);
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-bottom: 5px;
}
.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
}
.project-img{
    margin-top: 20px;
}
.project-img img{
    display: block;
    margin: 0 auto;
    width: 85%;
}
.project-descr{
    font-size: 15px;
    margin: 10px 10px 20px 10px;
    text-align: justify;
    height: 150px;
}
.links{
    display: flex;
    background-color: #00B200;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.links a{
    color: white;
    text-decoration: none; 
}
#live-site-link{
    width: 50%;
    border-right: 1px solid white;
    text-align: center;
}
#github-repo-link{
    width: 50%;
    border-left: 1px solid white;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00B200;
    height: 60px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2) inset;
}
footer img{
    margin: 0 10px;
    transition: transform 0.5s ease;
}
footer img:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 767px){
    #main {
        width: 90%;
    }
    #navbar{
        flex-direction: column;
        height:70px;
    }
    #navbar ul{
        order: 2;
        margin: 7px auto;
    }
    #navbar ul li{
        margin: 0 5px;
    }
    #navbar img{
        order: 1;
        margin: 7px auto;
    }
    #quote{
        height: 150px;
        text-align: center;
    }
    #quote p{
        width: 80%;
        line-height: 24px;
        font-size: 18px;
    }
    .author{
        margin-left: 0;
        margin-right: 0;
    }
    #content p{
        text-indent: 20px;
        line-height: 25px;
        margin: 10px 10px 0 10px;
    }
    #project-container{
        width: 100%;
    }
    .project-descr{
        height: auto;
    }
}