body {
  background: black url("https://www.bluegemstudio.co.uk/projects/tribute/footprints.jpg") repeat;
}
#main {
  padding: 5px;
  width: 80vmin;
  display: flex;
  flex-direction: column;
  background-color: rgba(80, 20, 80, .5);
  margin: auto;
  text-align: center;
  color: white;
  border-radius: 10px;
  border: white 10px solid;
}

#tribute{
  margin: auto;
  font-family: Open Sans, sans-serif;
}

h1{
  font-family: 'Neucha', cursive;
  font-size: 5vmin;
}

#img-div {
  padding: 20px 10px 5px 10px;
  background-color: rgb(255 255 255);
  border-radius: 10px;
  width: 50%;
  margin: auto;
}
#img-div img{
  width: 35vmin;
}

article p {margin-top: 15px;}

#image {
  display: block;
  margin: auto;
  max-width: 98%;
}

#img-caption {
  color: black;
  align-self: top;
  font-size: 2vmin;
}

#tribute-info {
  width: 90%;
  margin: auto;
  font-size: 2.5vmin;
}

button {
  background-color: rgb(204, 0, 255); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
#tribute-link {
  color: #9ec3f5;
}
.bigger_text{
  font-size: 2.5vmin;
}
.smaller_margins {
  margin-bottom: 15px;
}